<!-- Handle branch node buttons here -->
<span *ngIf="item.children && item.children.length > 0">
    <button mat-button [matMenuTriggerFor]="menu.childMenu">
        <span>{{item.label}}</span>
        <mat-icon>expand_more</mat-icon>
    </button>
    <app-menu-items #menu [items]="item.children"></app-menu-items>
</span>
<!-- Leaf node buttons here -->
<span *ngIf="!item.children || item.children.length === 0">
    <!-- Link to interface -->
    <a mat-button [routerLink]="item.ifc" *ngIf="item.ifc">
        <span>{{item.label}}</span>
    </a>
    <!-- Link to (external) url -->
    <a mat-button href="{{item.url}}" *ngIf="item.url" >
        <span>{{item.label}}</span>
    </a>
    <!-- Menu item with no action -->
    <span *ngIf="!item.ifc && !item.url">{{item.label}}</span>
</span>