<div *ngIf="isCrudR(); else nonReadBlock">
    <div *ngIf="isUni then uniBlock else nonUniBlock"></div>
    <!-- Univalent -->
    <ng-template #uniBlock>
        <div *ngIf="isCrudU() else uniViewOnly" class="input-group input-group-sm">
            <input [(ngModel)]="resource[field]" type="text" placeholder="value" class="form-control"
                [attr.required]="isTot ? '' : null" (blur)="save()">
        </div>
        <ng-template #uniViewOnly>
            <span>{{resource[field]}}</span>
        </ng-template>
    </ng-template>
    <!-- Non-univalent -->
    <ng-template #nonUniBlock>
        <!-- Display list -->
        <div *ngFor="let value of getValues(); let i = index" class="wordwrap">
            <i *ngIf="isCrudU()" class="bi bi-dash" (click)="removeItem(i)"></i>
            <span>{{value}}</span>
        </div>
        <!-- Input to edit or add new -->
        <div *ngIf="isCrudU()" class="input-group input-group-sm">
            <input [(ngModel)]="newValue" type="text" placeholder="Add value" class="form-control" 
                [attr.required]="isTot && getValues().length === 0 ? '' : null" (blur)="addItem(newValue)">
        </div>
    </ng-template>
</div>
<ng-template #nonReadBlock>
    <div>
        <span>not readable</span>
    </div>
</ng-template>