<mat-grid-list [cols]="numberOfCols" rowHeight="300px" (window:resize)="onResize($event)">
  <mat-grid-tile>
    <mat-card class="home-card">
      <ngx-spinner name="installer" bdColor="rgba(0,0,0,0.3)" size="medium" color="#fff" type="ball-scale" [fullScreen]="false">
        <p style="color: white">Installing...</p>
      </ngx-spinner>
      <mat-card-title>Application (re)install <mat-icon *ngIf="installed" style="color: green">task_alt</mat-icon></mat-card-title>
      <mat-card-content>
        <p>This action will reinstall the application and database and delete all content.</p>
        <p>If provided, the initial population will be installed.</p>
        <button mat-button [color]="buttonColor" (click)="reinstall()">Reinstall</button>
        <button mat-button [color]="buttonColor" (click)="reinstall(false, false)">Reinstall (without default population)</button>
        <button mat-button [color]="buttonColor" (click)="reinstall(true, true)">Reinstall (ignore invariant rules)</button>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
