<mat-toolbar role="navigation">
    <!-- Home -->
    <button mat-icon-button [routerLink]="navbar.home">
        <mat-icon>home</mat-icon>
    </button>

    <span fxShow fxHide.lt-sm="true">My App</span>
    
    <!-- Menu < small -->
    <div fxHide fxShow.lt-sm="true">
        <button mat-button *ngFor="let item of getMenuItems(1,1)">{{item.label}}</button>
        <div *ngIf="getMenuItems(2).length > 0" style="display: inline;">
            <button mat-button [matMenuTriggerFor]="xsMoreMenu">
                <mat-icon>menu</mat-icon>
            </button>
            <mat-menu #xsMoreMenu="matMenu"></mat-menu>
        </div>
    </div>
    <!-- Menu small -->
    <div fxHide fxShow.sm="true">
        <button mat-button *ngFor="let item of getMenuItems(1,2)">{{item.label}}</button>
        <div *ngIf="getMenuItems(3).length > 0" style="display: inline;">
            <button mat-button [matMenuTriggerFor]="smMoreMenu">More</button>
            <mat-menu #smMoreMenu="matMenu"></mat-menu>
        </div>
    </div>
    <!-- Menu > small -->
    <div fxHide fxShow.gt-sm="true">
        <button mat-button *ngFor="let item of getMenuItems(1,4)">{{item.label}}</button>
        <div *ngIf="getMenuItems(5).length > 0" style="display: inline;">
            <button mat-button [matMenuTriggerFor]="mdMoreMenu">More</button>
            <mat-menu #mdMoreMenu="matMenu"></mat-menu>
        </div>
    </div>
    
    <span class="example-spacer"></span>

    <!-- New -->
    <button mat-icon-button [matMenuTriggerFor]="newMenu">
        <mat-icon>add</mat-icon>
    </button>
    <mat-menu #newMenu="matMenu">
        <ng-container *ngFor="let item of navbar.new">
            <!-- Multiple interface for new concept => sub menu structure -->
            <ng-container *ngIf="item.ifcs.length > 1">
                <button mat-menu-item [matMenuTriggerFor]="subMenu">
                    <span>{{item.label}}</span>
                </button>
                <mat-menu #subMenu="matMenu">
                    <button mat-menu-item *ngFor="let ifc of item.ifcs" (click)="createNewResource(ifc.resourceType, ifc.link)">{{ifc.label}}</button>
                </mat-menu>
            </ng-container>
            <!-- Single interface for new concept => direct link -->
            <ng-container *ngIf="item.ifcs.length == 1">
                <button mat-menu-item (click)="createNewResource(item.ifcs[0].resourceType, item.ifcs[0].link)">{{item.label}}</button>
            </ng-container>
        </ng-container>
    </mat-menu>
    
    <!-- Notifications -->
    <button mat-icon-button [matMenuTriggerFor]="notificationMenu">
        <mat-icon>notifications</mat-icon>
    </button>
    <mat-menu #notificationMenu="matMenu">
        <li mat-menu-item (click)="$event.stopPropagation()"><mat-slide-toggle [(ngModel)]="notify_showSignals" ngDefaultControl>Show signals</mat-slide-toggle></li>
        <li mat-menu-item (click)="$event.stopPropagation()"><mat-slide-toggle [(ngModel)]="notify_showInvariants" ngDefaultControl>Show invariants</mat-slide-toggle></li>
        <li mat-menu-item (click)="$event.stopPropagation()"><mat-slide-toggle [(ngModel)]="autoSave" ngDefaultControl>Auto save changes</mat-slide-toggle></li>
        <mat-divider>User logs</mat-divider>
        <li mat-menu-item (click)="$event.stopPropagation()"><mat-slide-toggle [(ngModel)]="notify_showErrors" ngDefaultControl>Show errors</mat-slide-toggle></li>
        <li mat-menu-item (click)="$event.stopPropagation()"><mat-slide-toggle [(ngModel)]="notify_showWarnings" ngDefaultControl>Show warnings</mat-slide-toggle></li>
        <li mat-menu-item (click)="$event.stopPropagation()"><mat-slide-toggle [(ngModel)]="notify_showInfos" ngDefaultControl>Show infos</mat-slide-toggle></li>
        <li mat-menu-item (click)="$event.stopPropagation()"><mat-slide-toggle [(ngModel)]="notify_showSuccesses" ngDefaultControl>Show successes</mat-slide-toggle></li>
        <li mat-menu-item (click)="$event.stopPropagation()"><mat-slide-toggle [(ngModel)]="notify_autoHideSuccesses" ngDefaultControl>Auto hide successes</mat-slide-toggle></li>
        <mat-divider>Reset</mat-divider>
        <li mat-menu-item (click)="$event.stopPropagation()">
            <a (click)="resetSettingsToDefault();">
                <mat-icon>restart_alt</mat-icon>
                <span> Default settings</span>
            </a>
        </li>
    </mat-menu>
    
    <!-- Apps and extensions menu -->
    <button fxShow fxHide.lt-sm="true" mat-icon-button [matMenuTriggerFor]="extMenu">
        <mat-icon>apps</mat-icon>
    </button>
    <mat-menu #extMenu="matMenu">
        <button mat-menu-item>
            <mat-icon>settings_backup_restore</mat-icon>
            <span>Application installer</span>
        </button>
        <button mat-menu-item>
            <mat-icon>running_with_errors</mat-icon>
            <span>(Re)evaluate all rules</span>
        </button>
        <button mat-menu-item>
            <mat-icon>code</mat-icon>
            <span>Run execution engine</span>
        </button>
        <button mat-menu-item>
            <mat-icon>file_upload</mat-icon>
            <span>Import population</span>
        </button>
        <button mat-menu-item>
            <mat-icon>file_download</mat-icon>
            <span>Export population</span>
        </button>
    </mat-menu>

    <!-- User role menu -->
    <button mat-icon-button [matMenuTriggerFor]="roleMenu">
        <mat-icon>person</mat-icon>
    </button>
    <mat-menu #roleMenu="matMenu">
        <li mat-menu-item *ngFor="let role of sessionRoles" (click)="$event.stopPropagation()">
            <mat-slide-toggle [(ngModel)]="role.active" (click)="toggleRole(role.id)" ngDefaultControl>{{role.label}}</mat-slide-toggle>
        </li>
        <mat-divider></mat-divider>
        <button mat-menu-item>
            <mat-icon>person</mat-icon>
            <span>My account</span>
        </button>
        <button mat-menu-item>
            <mat-icon>login</mat-icon>
            <span>Login</span>
        </button>
        <button mat-menu-item>
            <mat-icon>logout</mat-icon>
            <span>Logout</span>
        </button>
    </mat-menu>
</mat-toolbar>