<mat-menu #childMenu="matMenu" [overlapTrigger]="false">
    <span *ngFor="let child of getSortedItems()">
        <!-- Handle branch node menu items -->
        <span *ngIf="child.children && child.children.length > 0">
            <button mat-menu-item [matMenuTriggerFor]="menu.childMenu">
                <span>{{child.label}}</span>
            </button>
            <app-menu-items #menu [items]="child.children"></app-menu-items>
        </span>
        <!-- Handle leaf node menu items -->
        <span *ngIf="!child.children || child.children.length === 0">
            <!-- Link to interface -->
            <a mat-menu-item [routerLink]="child.ifc" *ngIf="child.ifc">
                <span>{{child.label}}</span>
            </a>
            <!-- Link to (external) url -->
            <a mat-menu-item href="{{child.url}}" *ngIf="child.url" >
                <span>{{child.label}}</span>
            </a>
            <!-- Menu item with no action -->
            <span mat-menu-item *ngIf="!child.ifc && !child.url">{{child.label}}</span>
        </span>
    </span>
</mat-menu>