<div class="container-fluid">
  <div class="card-deck m-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Hello, world!</h5>
        <h6 class="card-subtitle mb-2 text-muted">You've successfully deployed your prototype</h6>
        <p class="card-text">Text here</p>
      </div>
      <div class="card-footer bg-transparent">
        <a class="card-link" href="https://ampersandtarski.gitbook.io/documentation" target="_blank">Documentation</a>
        <a class="card-link" href="https://github.com/AmpersandTarski" target="_blank">Github</a>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Install your application</h5>
        <h6 class="card-subtitle mb-2 text-muted">Run the application installer to get started</h6>
        <p class="card-text">Text here</p>
      </div>
      <div class="card-footer bg-transparent">
        <a class="card-link" routerLink="/admin/installer">Installer</a>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Take a tour</h5>
        <h6 class="card-subtitle mb-2 text-muted">Let's explore the prototype application</h6>
        <p class="card-text">Text here</p>
      </div>
      <div class="card-footer bg-transparent">
        <a class="card-link" routerLink="">Tour</a>
      </div>
    </div>
  </div>
</div>